.greeting-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 40px;
    transition: 1s;
    opacity: 1;
  }
  
  .greeting-container_switch {
    opacity: 0;
  }
  
  .greeting {
    flex: 1;  
    padding: 10px;
    text-align: right;
  }