.language {
    padding: 0;
    margin: 0;
    width: 35px;
    height: 30px;
    cursor: pointer;
  }
  
  .language_ru {
    background-image: url('../assets/img/ru.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .language_en {
    background-image: url('../assets/img/en.png');
    background-size: cover;
    background-position: center;
  } 

  .link {
    color: white;
    text-decoration: none;
  }