.play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../assets/svg/play.svg");
}

.play-prev {
    background-image: url("../assets/svg/play-prev.svg");
  }
  
.play-next {
    background-image: url("../assets/svg/play-next.svg");
}