.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}