.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 120px;
    letter-spacing: -4px;  
    opacity: 1;
    transition: 1s ease;
  }
  
  .time_switch {
    opacity: 0;
    transition: 1s ease;
  }