.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;  
    text-align: left;
    transition: 1s;
    opacity: 1;
}

.weather_switch {
    opacity: 0;
}
  
.temperature {
    font-size: 30px;
}
  
.weather-error {
    margin-top: -10px;
}
    
.weather-icon {
    font-size: 44px;
}