.player {
    border-radius: 20px;
    background-color: rgb(141, 148, 155, 0.3);
    background-blend-mode: multiply;
    position: relative;
    z-index: 10;
    opacity: 1;
    transition: 1s;
  }

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 135px;
  margin: 15px auto 25px;
}

.play-list {
  text-align: left;
  margin: 10px;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.play-item_active {
  color: #C5B358;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}